@import '../utils/variables.scss';

 footer {
    background-color: $menu-color;
    color: $text-color;
    bottom: 0;
   
    width: 100%;
} 



.footer {
    flex-shrink: 0;
    text-align: center;
    background-color: #dc1b2f;
    color: white;
    bottom: 0;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
  }

